<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <a class="navbar-brand" href="/">Coquinaria</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/recettes">Recettes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/creerRecette">Nouvelle recette</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/deconnexion">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>