#instructions {
    white-space: pre-wrap;
}

#buttons {
    width: 250px;
}

@media screen and (max-width: 800px) and (min-width: 800px) {

    #deleteRecipe, #modifyRecipe, #sendRecipe {
        display: none;
    }

    #buttons {
        width: auto;
    }
}