html {
    background-color: whitesmoke;
}

header {
    margin: -10px;
    background-color: blue;
}

#title {
    padding-top: 10px;
    text-align: center;
    font-size: 3.5em;
}

hr {
    width: auto;
    color: black;
    margin-top: -20px;
}

body {
    margin-top: -37.5px;
}

#sections {
    text-align: center;
    padding: 5px 20px 5px 5px;
    font-size: 1.3em;
}

a {
    color: black;
    text-decoration: none;
    padding-bottom: 30px;
    padding-left: 10px;
}

#formulaire {
    color: black;
    margin-top: 30px;
    padding: auto;
}

textarea {
    width: 50%;
    height: 300px;
}